@media (max-width: 844px) {
    body {
        background-color: var(--preto);
        margin-top: 5em;
    }
    
    .login {
        margin: 4% 7%;
    }

    .login__texto {
        margin-left: 3.1em;
    }

    .login__email {
        width: 65%;
    }

    .login__botao {
        margin: 0 .1em;
    }
}