.problema {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    left: 96.5%;
    bottom: 5%;
    gap: 10px;
}

.problema:hover {
    transition: 1s;
    left: 86.80%;
}

.titulo-problema {
    background-image: none;
}

.texto-problema {
    margin: .5em 0em .5em 0;
}

.problema__link {
    padding: .5em;
    color: black;
    font-family: var(--fonte-reporte);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
    border: 1px solid none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.problema-texto {
    border-radius: 10px 0 0 10px;
}

.plataforma {
    background-image: url(../assets/plataformas.svg);
}

.reporte {
    background-image: url(../assets/caneta-escrevendo.svg);
    background-size: 7%;
}

.botao-problema:hover {
    text-decoration: underline;
}

.botao-problema:active {
    color: black;
}