.login {
    text-align: center;
    padding: 5em 0em;
    margin: 8% 25%;
    border: 2px solid var(--branco);
    border-radius: 10px;
}

.login__titulo {
    font-size: 32px;
    color: var(--branco);
    text-transform: uppercase;
}

.login__email {
    background-color: transparent;
    background-image: url(../assets/email.svg);
    background-repeat: no-repeat;
    background-position: .5em;
    background-size: 5%;
    font-family: var(--fonte-primaria);
    padding: .5em;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    width: 50%;
    color: var(--branco);
    margin: 3em 0 1em 0;
}

.senha {
    background-image: url(../assets/senha.svg);
    margin: 0 0 1em 0;
}

.login__email::placeholder {
    color: var(--branco);
}

.login__botao {
    padding: .1em 1em;
    color: var(--branco);
    text-decoration: none;
}

.termos {
    text-decoration: underline;
    color: #0000cd;
}